<!DOCTYPE html>
<html>

<head>
    <title>This is Vue JS</title>
    <link rel='stylesheet' type="text/css" href='./styles.css'>
</head>

<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="cart">
            <p>cart({{cart.length}})</p>
        </div>
        <product v-bind:premium="premium" @update-cart="updateCart"></product>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script>
    var eventBus = new Vue();
    Vue.component('product', {
        props: {
            premium: {
                message: Boolean,
                required: true
            }
        },
        template: `<div class="products">
            <div class="product-image">
                <img v-bind:src="image">
            </div>
            <div class="product-info">
                <h1>{{title}}</h1>
                <p v-if="inStock">In Stock: {{inStock}}</p>
                <p v-else>Out of Stock</p>
                <span class="tab" :class="{activeTab: selectedTab === tab}"
                  v-for="(tab, index) of tabs" :key="index" v-on:click="selectedTab = tab">{{tab}}</span><br>
                 <span v-if="selectedTab == 'Shipping'"> {{shipping}}</span>
                <product-details v-if="selectedTab == 'Product Details'" v-bind:details="details"></product-details>
                <div v-for="(variant, index) of variants" v-bind:key="variant.variantId" class="color-box"
                    v-bind:style="{backgroundColor: variant.variantColor}" v-on:click='showSocksColor(index)'>
                </div>
                <button v-on:click="addToCart" v-bind:class="{disabledButton : !inStock}">Add to Cart</button>
                <button v-on:click="removeFromCart">Remove from Cart</button>
            </div>
            <product-tabs></product-tabs>
        </div>`,
        data() {
            return {
                brand: 'Vue Mastery',
                product: 'Socks',
                details: ['80% Cotton', '20% Polyster', 'Gender-neutral'],
                variantIndex: 0,
                variants: [{
                        variantId: 100,
                        variantColor: 'Blue',
                        variantImage: './images/blue-socks.jpg',
                        variantQuantity: 5
                    },
                    {
                        variantId: 200,
                        variantColor: 'Green',
                        variantImage: './images/green-socks.jpg',
                        variantQuantity: 10
                    }
                ],
                reviewsCollected: [],
                errors: [],
                selectedTab: 'Shipping',
                tabs: ['Shipping', 'Product Details']
            }
        },
        methods: {
            addToCart() {
                if (this.variants[this.variantIndex].variantQuantity) {
                    this.variants[this.variantIndex].variantQuantity -= 1;
                    this.$emit('update-cart', 'add', this.variants[this.variantIndex].variantId);
                }
            },
            removeFromCart() {
                this.$emit('update-cart', 'remove', this.variants[this.variantIndex].variantId);
            },
            showSocksColor(index) {
                this.variantIndex = index;
            }
        },
        computed: {
            title() {
                return this.brand + ' ' + this.product;
            },
            image() {
                return this.variants[this.variantIndex].variantImage;
            },
            inStock() {
                return this.variants[this.variantIndex].variantQuantity;
            },
            shipping() {
                if (this.premium) {
                    return 'Free';
                } else {
                    return '$2.99'
                }
            }
        },
        mounted() {
            eventBus.$on('cart-values', (item) => {
                this.variants[this.variantIndex].variantQuantity += 1;
            });
        }
    });
    Vue.component('product-details', {
        props: {
            details: {
                type: Array,
                required: true
            }
        },
        template: `
                <ul>
                    <li v-for="detail of details"> {{detail}}</li>
                </ul>
                `
    });
    Vue.component('product-tabs', {
        template: `
                <div>
                  <span class="tab" :class="{activeTab: selectedTab === tab}"
                  v-for="(tab, index) of tabs" :key="index" v-on:click="selectedTab = tab">{{tab}}</span>
                  <div v-show="selectedTab == 'Reviews'">  
                    <h2>Reviews</h2>
                    <p v-if="!reviewsCollected.length">No Reviews Yet</p>
                    <ul>
                        <li v-for="review of reviewsCollected">
                            <p>Name: {{review.name}}</p>
                            <p>Review: {{review.review}}</p>
                            <p>Rating: {{review.rating}}</p>
                            <p>Recommended: {{review.recommended}}</p>
                        </li>
                    </ul>
                    </div>
                    <p v-if="errors.length">Errors</p>
                    <ul>
                        <li v-for="error of errors">
                            <p>{{error}}</p>
                        </li>
                    </ul>
                    <product-review v-show="selectedTab == 'Make a Review'"></product-review>
            </div>
                `,
        data() {
            return {
                tabs: ['Reviews', 'Make a Review'],
                selectedTab: 'Reviews',
                reviewsCollected: [],
                errors: []
            }
        },
        mounted() {
            eventBus.$on('review-submitted', (reviews, errors) => {
                this.reviewsCollected = reviews;
                this.errors = errors;
            });
        }
    });
    Vue.component('product-review', {
        template: `
        <form class="review-form" v-on:submit.prevent="onSubmit">
            <p>
                <label for="name">Name:</label>
                <input id="name" v-model="name" placeholder="name">
            </p> 
            <p>
                <label for="review">Review:</label>      
                <textarea id="review" v-model="review"></textarea>
            </p>
            <p>
                <label for="rating">Rating:</label>
                <select id="rating" v-model.number="rating">
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
                </select>
            </p>
            <p>
              <label>Would you recommend this Product</label><br>
              <span>Yes</span>
              <input type="radio" value="Yes" v-model="recommended"> 
              <span>No</span>
              <input type="radio" value="No" v-model="recommended"> 
            </p>
            <p>
                <input type="submit" value="Submit">  
            </p>    
        </form>
        `,
        data() {
            return {
                name: null,
                review: null,
                rating: null,
                reviews: [],
                errors: [],
                recommended: null
            }
        },
        methods: {
            onSubmit() {
                if (this.name && this.rating && this.review && this.recommended) {
                    this.errors = [];
                    let productReview = {
                        name: this.name,
                        review: this.review,
                        rating: this.rating,
                        recommended: this.recommended
                    }
                    this.name = null;
                    this.review = null;
                    this.rating = null;
                    this.recommended = null;
                    this.reviews.push(productReview);
                    eventBus.$emit('review-submitted', this.reviews, this.errors);
                } else {
                    if (!this.name) {
                        this.errors.push('Enter Name.');
                    }
                    if (!this.review) {
                        this.errors.push('Enter Review.');
                    }
                    if (!this.rating) {
                        this.errors.push('Enter Rating.');
                    }
                    if (!this.recommended) {
                        this.errors.push('Select Recommendation.');
                    }
                    eventBus.$emit('review-submitted', this.reviews, this.errors);
                    this.errors = [];
                }
            }
        }
    });
    let app = new Vue({
        el: '#app',
        data: {
            premium: true,
            cart: []
        },
        methods: {
            updateCart(action, id) {
                if (action == 'add') {
                    this.cart.push(id)
                } else if (action == 'remove') {
                    removeItem = this.cart.indexOf(id);
                    if (removeItem > -1) {
                        this.cart.splice(removeItem, 1);
                        eventBus.$emit('cart-values', id);
                    }
                }
            }
        }
    })
</script>

</html>